<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" ><!--gitleaks:allow-->
            <section name="n3fjp2hamclock.wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" /><!--gitleaks:allow-->
        </sectionGroup>
    </configSections>
    <userSettings>
        <n3fjp2hamclock.wpf.Properties.Settings>
            <setting name="ApiServerHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ApiServerPort" serializeAs="String">
                <value>1100</value>
            </setting>
            <setting name="HamClockUris" serializeAs="String">
                <value>http://localhost:8080</value>
            </setting>
            <setting name="ShowTrace" serializeAs="String">
                <value>False</value>
            </setting>
        </n3fjp2hamclock.wpf.Properties.Settings>
    </userSettings>
</configuration>